g.primary {
  stroke: #aaa;
  fill: #aaf;
}

.domain {
    stroke: none;
}

g.tick line {
    stroke: #888;
    stroke-width: 0.5px;
    fill: none;
}
g.tick text{
    fill: #888;
    stroke: none;
}

g.state:nth-child(odd) {
    fill: rgba(0,0,256,0.05);
}
g.state:nth-child(even) {
    fill: rgba(256,0,0,0.05);
}

line.election {
    fill: none;
    stroke: #00f;
    stroke-width: 0.5px;
}

circle {
    stroke-width: 2px;
    r: 3;
}

circle.federal         { stroke: #00f; }
circle.state           { stroke: #f00; }
circle.primary         { fill: none; }
circle.federal.general { fill: #00f; }
circle.state.general   { fill: #f00; }


g.date, text.label {
  stroke: #aaa;
  fill: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 12px;
}


div.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    z-index: 1;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}

rect.early_vote {
    fill: #f88;
    z-index: 0;
}

line.deadline {
    stroke: #333;
    stroke-width: 1px;
    z-index: 1;
}

text.deadline {
    stroke: none;
    fill: #537;
    font-family: sans-serif;
    font-size: 9px;
    z-index: 1;
}

.legend text.deadline {
    font-size: 12px;
}

#flags-footnote {
    text-align: right;
    font-size: 11px;
}

text.state {
    stroke: none;
    fill: #335;
    font-family: sans-serif;
    font-size: 12px;
}
